<div class="row">
    <div class="form-edit">
        <form>
            <div class="row">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" required class="form-control" placeholder="Name" name="name">
                </div>
                <div class="form-group">
                    <label for="name">Image Path</label>
                    <input type="text" id="imagePath" required class="form-control" placeholder="ImagePath">
                    <img src="" class="img-responsive">
                </div>
                <div class="form-group">
                    <label for="name">Description</label>
                    <textarea id="description" required class="form-control" placeholder="Description"></textarea>
                </div>
                <div class="form-group">
                    <label for="name">Ingredient</label>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="name">Amount</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-danger ma2">Delete</button>
                        </div>
                    </div>
                    
                </div>
                <div class="form-group">
                    <button class="btn btn-success ma2">Save</button>
                    <button class="btn btn-danger ma2">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>